@import 'materialize.css';

#root {
	padding: 1rem;
}

* + * {
	margin-bottom: 1.5rem;
}

.sr-only {
	display: none;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.login {
	min-height: calc(100vh - 2rem);
	display: flex;
	align-items: center;
	justify-content: center;
}

.logout.btn-flat {
	position: absolute;
	right: .5rem;
	top: 0;
	padding: 0 .5rem;
}

.lm-add-form {
	margin-bottom: 1.5rem;
}

.lm-add-form input[type=text] {
	width: calc(100% - 3.5rem);
	border-bottom: 1px solid #3f51b5;
	margin-bottom: 0;
}

.lm-add-form input[type=text]:focus {
	border-bottom-color: #3f51b5;
	box-shadow: 0 1px 0 0 #3f51b5;
}

.lm-add-form__btn {
	width: 3rem;
	padding: 0;
	margin-left: .5rem;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 5px 0;
	display: flex;
	height: 1.3rem;
}

li button {
/*	opacity: 0;
	transition: opacity .2s ease-out;
	margin-left: auto;
	width: 1.3rem;
	height: 1.3rem;
	text-align: center;
	font-size: 1rem;
	line-height: 1.1rem;
	padding: 0 0 1px;
	background: tomato;
	color: white;
	border: none;*/
	cursor: pointer;
}

li:hover button {
	/*opacity: 1;*/
}

.lm-list {
	width: 100%;
	/*width: calc(100% - 10rem);*/
	float: left;
	margin-top: 0;
}

.lm-item {
	display: flex;
	align-items: center;
	height: 2.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.lm-item__name {
	margin-bottom: 0;
}

.lm-item__name,
.lm-item input[type=text] {
	font-size: 1rem;
	line-height: 1;
	padding: 0;
	font-family: helvetica;
	border-bottom: 1px solid transparent;
}

.lm-item input[type=text] {
	display: none;
	border: none;
	background: none;
	border-bottom: 1px dashed #ddd;
}

.lm-item .btn {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	/*height: 1.5rem;*/
	margin-left: auto;
}

.lm-item__order[type=number] {
	margin-left: .5rem;
	width: 2rem;
	text-align: center;
	padding-top: .25rem;
}

input[type='checkbox'] {
	display: none;
}

.edit-btn {
	padding: 0 1.5rem;
	margin-bottom: 1.5rem;
	float: right;
}

.edit-mode li button {
	/*display: none;*/
}

.edit-mode label.lm-item__name {
	display: none;
}

.edit-mode .lm-item input[type='text'] {
	display: block;
	/*position: relative;*/
	/*top: -2px;*/
/*	height: 1.5rem;
	margin: 0;*/
}